@media (max-width: 1260px) {
  .wrapper{
    max-width: 1000px;
  }

  .promo__title{
    font-size: 35px;
  }

  .promo__img{width: 45%;}

  /* styles for plans section */

  .goal__item{
    width: 310px;
  }

  .plans__description{
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
}

@media (max-width: 1120px) {

  .wrapper{
    max-width: 840px;
  }

  .promo__title{
    font-size: 31px;
    padding-top: 0;
  }

  .promo__description{
    width: 435px;
  }

  /* styles for plans section */

  .goal__item{
    width: 270px;
  }

  .goal__title{
    font-size: 22px;
    line-height: 25px;
  }

  .goal__description{
    font-size: 18px;
    line-height: 21px;
  }

  .plans__description{
    font-size: 22px;
    line-height: 26px;
    width: 840px;
  }
}

@media (max-width: 900px) {
  .wrapper{
    max-width: 700px;
  }

  .promo__text{
    width: 55%;
  }
  .promo__title{
    font-size: 28px;
  }
  .promo__subtitle{
    font-size: 26px;
  }

  /* styles for plans section */

  .goal__item{
    width: 220px;
  }

  .goal__title{
    font-size: 20px;
    line-height: 24px;
  }

  .goal__description{
    width: 220px;
    font-size: 16px;
    line-height: 19px;
  }

  .plans__description{
    font-size: 20px;
    line-height: 24px;
    width: 700px;
  }

  /* styles for feedback-form section */
  .feedback__title{
    font-size: 33px;
    line-height: 42px;
  }
}

@media (max-width: 768px) {
  .wrapper{
    max-width: 600px;
  }

  .promo{
    flex-direction: column;
  }

  .promo__text,
  .promo__description{
    width: 100%;
  }

  .promo__button{
    margin-bottom: 30px;
  }
  .promo__img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  /* styles for plans section */

  .goals{
    flex-direction: column;
    align-items: center;
  }

  .goal__item{
    width: 380px;
    margin-bottom: 20px;
  }

  .goal__title{
    font-size: 30px;
    line-height: 37px;
  }

  .goal__description{
    width: 250px;
    font-size: 20px;
    line-height: 25px;
  }

  .goal__item:last-child{
    margin-bottom: 0;
  }

  .plans__description{
    width: 600px;
  }

  /* styles for feedback-form section */
  .feedback__title{
    font-size: 40px;
    line-height: 49px;
  }
}

@media (max-width: 660px) {
  .wrapper{
    max-width: 480px;
  }

  /* styles for plans section */
  .plans__description{
    width: 480px;
  }

  /* styles for feedback-form section */
  .feedback__title{
    font-size: 38px;
    line-height: 47px;
  }
}

@media (max-width: 519px) {
  .wrapper{
    max-width: 400px;
  }

  /* styles for plans section */
  .plans__description{
    width: 400px;
  }
}

@media (max-width: 420px) {
  .wrapper{
    max-width: 260px;
  }

  .logo-img{
    width: 93px;
    padding-top: 39px;
    margin-bottom: 21px;
  }

  .promo__title{
    /* width: 247px; */
    width: 185px;
    font-size: 25px;
    line-height: 31px;
    margin-bottom: 26px;
  }

  .promo__subtitle{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 1px;
  }

  .promo__description{
    font-size: 15px;
    line-height: 17px;
    width: 236px;
    margin-bottom: 25px;
  }

  .promo__button{display: none;}

  .promo__img{
    width: 100%;
    margin-bottom: 50px;
  }

  /* styles for plans section */

  .plans__title{
    width: 200px;
    font-size: 20px;
    line-height: 24px;
    padding-right: 2px;
  }

  .goal__item{
    width: 260px;
    padding-top: 43px;
  }

  .goal__item:nth-child(2) {
    padding-top: 40px;
  }

  .goal__item:nth-child(3) {
    padding-top: 42px;
  }

  .goal__img{
    width: 85px;
    margin-bottom: 14px;
  }

  .goal__item:nth-child(2) .goal__img {
    margin-bottom: 15px;
  }

  .goal__title{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 16px;
  }

  .goal__item:nth-child(2) .goal__title {
    margin-bottom: 7px;
}

  .goal__description{
    width: 125px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 42px;
  }

  .goal__item:nth-child(2) .goal__description {
    margin-right: 2px;
  }

  .goal__item:nth-child(3) .goal__description {
    margin-right: 5px;
}

  .plans__description{
    width: 257px;
    font-size: 18px;
    line-height: 21.5px;
    padding-right: 3px;
  }

  .plan__item:last-child{
    margin-top: -2px;
  }

  .plans h2:last-of-type{
    margin-top: 56px;
    padding-left: 0;
  }

  /* styles for feedback-form section */

  .feedback{
    padding: 44px 0;
  }

  .feedback-form{
    width: 260px;
  }

  .feedback__title{
    font-size: 20px;
    line-height: 24.5px;
    margin-bottom: 27px;
  }

  .feedback-form__name,
  .feedback-form__email{
    font-size: 10px;
    line-height: 11.5px;
    padding: 17px 0 17px 17px;
    box-sizing: border-box;
  }

  .feedback-form__name{margin-bottom: 13px;}

  .feedback-form__email{margin-bottom: 25px;}

  .feedback-form__button{
    font-size: 10px;
    line-height: 12px;
    padding: 17px 90px 16px 89px;
  }

    /* styles for footer */

    .main-footer{
      font-size: 10px;
      line-height: 12px;
      padding: 23px 30px 25px 30px;
      letter-spacing: 0.1px;
    }
}
